<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="bg-box">
        <% user.forEach(elm=>{%>
            <h1 class="name"> <a href="/user/<%= elm._id%>">  <%=elm .name%> </a> </h1>
            <div class="seprate">
                <a href="/user/data"> Alldata</a>
                <a href="/user/<%= elm.id%>">singleUser data</a>
            </div>
                <%})%>
                
    </div>
  

</body>
</html>