<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/new" method="POST">
        <input name="name" placeholder="Enter Name" type="text">
        <input name="email" placeholder="Enter Email" type="text">
        <input name="age" placeholder="Enter Age" type="number">
        <input name="address" placeholder="EnterAddress" type="text">
        <input name="bio" placeholder="Enter Bio" type="text">
        <input name="hobbies" placeholder="Enter hobbies" type="text">
        <input type="submit" value="Add">
    </form>
</body>
</html>