<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Document</title>
</head>
<body>

    <header>
        <h1 class="form-header">This is user form page </h1>
    </header>
    <form action="/user/new" method="POST">
        <input name="name" placeholder="enter name" required   type="text">
        <input name="lastname" placeholder="enter last name" required   type="text">
        <input name="email" placeholder="enter email" required   type="text">
        <input name="age" placeholder="enter age" required   type="text">
        <input name="mobile" placeholder="enter mobile" required   type="text">
        <input class="btn" type="submit" value="Add">
    </form>
</body>
</html>