<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users/new" method="POST">
      <input type="text" name="name" placeholder=" Please enten the name" />
      <br />
      <input type="email" name="email" placeholder="Please enter your email" />
      <br />
      <input type="tel" name="mobile" placeholder="Please enter mobile number"/>
      <br />
      <input type="text" name="address" placeholder="Address" />
      <input type="submit" />
    </form>
  </body>
</html>
